/*chat list tunning in general*/

.avatar-pane {
  -fx-pref-height: 4em;
  -fx-pref-width: 4em;
  -fx-shape: "M 100 100 a 50 50 0 1 0 0.00001 0";
}
.entries-vbox {
  -fx-spacing: 0.2em;
}
.chat-date-label,
.chat-preview-title-pane .title .text {
  -fx-text-fill: #aaa;
  -fx-font: 0.8em sans-serif;
}
.chat-preview-title-pane > .title {
  -fx-padding: 0 0 0 0.5em;
}
.code-block > .scroll-bar:vertical {
  visibility: hidden;
  -fx-min-width: 0;
  -fx-max-width: 0;
}
.collapsible-image {
  -fx-region-border: null;
  -fx-text-fill: green;
}
.collapsible-image .content,
.collapsible-image .title {
  -fx-region-background: null;
  -fx-region-border: null;
  -fx-padding: 0;
}
.collapsible-image:hover {
  -fx-underline: true;
}

.chat-list:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:even,
.chat-list > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:even {
  -fx-background: -fx-control-inner-background;
}
.chat-list:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:odd,
.chat-list > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:odd {
  -fx-background: -fx-control-inner-background-alt;
}

.chat-message-controls-pane {
  -fx-background-color: #ccccff;
  -fx-background-radius: 0.25em;
  -fx-translate-y: -1em;
}
.chat-message-container:hover {
  -fx-background-color: #d4e5d4;
}

.md-link {
  -fx-fill: blue;
  -fx-underline: true;
}
.md-link:hover {
  -fx-underline: false;
}

/* text area input */

.emoji-picker-button {
  -fx-background-color: white;
  -fx-graphic: url(emoji-pick-button.png);
  
}
.emoji-picker-button:hover,
.emoji-picker-button:armed {
  -fx-background-color: white;
  -fx-graphic: url(emoji-pick-button-hover.png)
}

.emoji-autocompletion-cell {
  -fx-content-display: left;
  -fx-graphic-text-gap: 1em;
}
.emoji-autocompletion-cell-image {
  -fx-pref-height: 1.5em;
  -fx-pref-width: 1.5em;
}

/* emoji picker */
.emoji-picker > .column-header-background {
  visibility: hidden;
  -fx-min-height: 0;
  -fx-max-height: 0;
}
.emoji-picker-selection-button {
  -fx-padding: 0;
  -fx-background-color: transparent;
}
.emoji-picker-selection-button:hover,
.emoji-picker-selection-button:pressed {
  -fx-padding: 0;
  -fx-background-color: lightgray;
}