.avatar-pane {
  -fx-pref-height: 4em;
  -fx-pref-width: 4em;
  -fx-shape: "M 100 100 a 50 50 0 1 0 0.00001 0";
}
.entries-vbox {
  -fx-spacing: 0.2em;
}
.chat-date-label {
  -fx-text-fill: #aaa;
  -fx-font: 0.8em sans-serif;
}
.code-block > .scroll-bar:vertical {
  visibility: hidden;
}